body{
    height: 100%;
    width: 100%;
    background:#f0efed;
}

header ul{
    height: 51px;
    width: 100%;
    background: #06c1ae;
    text-align: center;
     display: flex;
    line-height: 51px;
    color: #fff;
    position: relative;
}
header ul li .icon-xiangxia{
    padding-left: 3px;
}
header ul li .icon-fangdajing{
    position: absolute;
    left: 75px;
}
header ul li input{
    width: 100%;
    height: 35px;
    background-color:#05a494;
    border-radius: 10px;
    border:none;
    text-indent: 30px;
    color: #fff;
}
 
header ul li:nth-child(1) {
    width: 65px;
  }
  header ul li:nth-child(2) {
    flex: 1;
  }
  header ul li:nth-child(3) {
    width: 65px;
  }